.promenjena
{
  color: rgb(24, 155, 24);
}
.nijePromenjena
{
  color:red;
}
.pretrazi
{
  background-color: rgb(225, 225, 238);
}
.podaciCont
{
  background-color: rgb(233, 235, 235);
  height: 900px;

}